.wrap {
  display: grid;
  gap: 20px;
  grid-template-columns: 100px auto;
  padding: 0 10px;
  width: 100%;
  height: 100%;
}

.wrapMain {
  display: flex;
  justify-content: center;
  height: 100%;
}

.main {
  position: relative;
  padding: 5px 20px;
  width: fit-content;
}

.main:before {
  content: '';
  position: absolute;
  inset: 0px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

.wrapBooks {
  position: relative;
}

.books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
  width: fit-content;
}

.infoMessage {
  background-color: #0505057e;
  padding: 10px;
  border-radius: 5px;
  margin: auto 0;
}

@media screen and (max-width: 1242px) {
  .books {
    grid-template-columns: repeat(3, 255px);
  }
}

@media screen and (max-width: 978px) {
  .wrap {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 869px) {
  .books {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .books {
    grid-template-columns: repeat(1, 1fr);
  }
}
