.wrap {
  display: grid;
  gap: 20px;
  grid-template-columns: 100px auto;
  padding: 0 10px;
  width: 100%;
}

.main {
  position: relative;
  padding: 10px;
}

.main:before {
  content: '';
  position: absolute;
  inset: 0px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

.wrapBooks {
  position: relative;
}

.books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  justify-items: center;
  gap: 10px;
}

.infoMessage {
  background-color: #0505057e;
  padding: 10px;
  border-radius: 5px;
  margin: auto 0;
}

@media screen and (max-width: 1230px) {
  .books {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .wrap {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 840px) {
  .books {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .books {
    grid-template-columns: repeat(1, 1fr);
  }
}
