:root {
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171718;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
  color: rgb(183, 208, 232);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  overflow-y: scroll;
}

button {
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
