.wrap {
  padding: 10px;
  width: 270px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.03);
  cursor: pointer;
}

.bookActions {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 5px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  background-color: #0505057e;
  border-radius: 10px;
  transition: 0.2s ease background-color;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bookCover {
  height: 160px;
  width: 100%;
  border-bottom: 1px solid rgb(50, 50, 50);
  filter: grayscale(40%);
  transition: 0.2s ease filter;
  text-align: center;
}

.bookCover img {
  height: 100%;
  object-fit: contain;
}

.wrap:hover .cardInfo {
  background-color: #050505ad;
}

.wrap:hover .bookCover {
  filter: grayscale(0);
}

.cardDescription {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  gap: 3px;
  font-size: 13px;
  text-transform: capitalize;
}

.cardDescription h2 {
  font-weight: 400;
  color: rgb(167, 187, 248);
  max-height: 2em;
}

.cardDescription h2,
.category,
.authorLink {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.authorLink,
.author {
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  transition: 0.2s ease all;
  line-height: 1.1;
}

.categories,
.wrapLabel,
.wrapStar,
.category {
  display: flex;
  gap: 5px;
  padding: 5px;
  border-radius: 4px;
  transition: 0.2s ease all;
}

.categories:hover,
.authorLink:hover,
.wrapLabel:hover,
.wrapStar:hover {
  background-color: #5f606441;
}

.category {
  padding: 3px;
  background-color: #3f3f3e;
}

/* PROGRESS BAR */

.wrapLabel {
  height: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* BTN */

.btn {
  color: rgb(101, 102, 99);
  background-color: transparent;
  padding: 0 5px;
  border-radius: 4px;
  font-size: 17px;
}

.btn:disabled {
  cursor: default;
}

.btn:disabled:hover {
  color: rgb(101, 102, 99);
}

.btn:disabled:hover svg {
  transform: scale(1);
}

.btn:hover {
  color: rgb(153, 209, 101);
}

.btn svg {
  transition: 0.2s ease all;
}

.btn:hover svg {
  transform: scale(1.4);
}

.btn:active svg {
  transform: scale(1);
}

.wrapBtn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding: 10px 0 0;
}

.btnAddFavorites,
.btnAddFavorites:hover {
  color: rgb(250, 177, 31);
}

.bthFavorite:hover {
  color: rgb(250, 177, 31);
}

.btnDelete:hover {
  color: rgb(65, 63, 63);
}

.btnFinished,
.btnAdded {
  color: rgb(108, 159, 61);
}
