.list {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  text-transform: uppercase;
}

.active,
.link {
  border-radius: 5px;
  display: block;
  padding: 5px;
}

.active {
  cursor: default;
  color: rgb(213, 168, 64);
}

.link:hover {
  color: rgb(237, 221, 185);
}

.link:active {
  color: rgb(188, 146, 50);
}

@media (hover: none) and (pointer: coarse) {
  .link:hover {
    color: white;
  }
}
