.list {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  text-transform: uppercase;
}

.active,
.link {
  border-radius: 5px;
  display: block;
  padding: 5px;
  transition: 0.3s ease all;
}

.link:hover,
.active {
  color: rgb(213, 168, 64);
}
