.link,
.active {
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s ease padding;
}

.active {
  cursor: default;
}

.link:hover,
.active {
  padding-left: 10px;
  border-bottom: 1px solid rgba(205, 183, 133, 0.119);
  color: rgb(213, 168, 64);
}

.link:hover {
  color: rgb(237, 221, 185);
}

.link:active {
  color: rgb(188, 146, 50);
}

.navCatalog ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 978px) {
  .link:hover,
  .active {
    padding-left: 0px;
  }

  .navCatalog {
    display: flex;
    justify-content: center;
  }

  .navCatalog ul {
    flex-direction: row;
    text-align: center;
    gap: 20px;
  }
}

@media (hover: none) and (pointer: coarse) {
  .link:hover {
    padding-left: 0;
    border-bottom: 1px solid transparent;
    color: white;
  }
}
