.category {
  display: flex;
  gap: 5px;
  padding: 5px;
  border-radius: 4px;
  transition: 0.2s ease all;
}

.category span {
  background-color: #612b54;
  border-radius: 4px;
  padding: 2px 5px;
}

.category:hover {
  background-color: #5f606441;
}
