.wrap {
  display: grid;
  justify-items: center;
  gap: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.limitMessage {
  position: sticky;
  top: 0;
  background-color: #251313;
  border: 1px solid rgb(91, 80, 80);
  padding: 5px;
  border-radius: 5px;
}
